CardsList 
.decksList {
    border-radius: 0.5px;
    border-width: thick;
    border-style: double;
}

.decksList > div {
    padding: 7px;
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    flex-wrap: nowrap;
    list-style-type: none;
}

nav li {
    margin-right: 5px;
    font-weight: bold;
    color: #4c566a;
}

.deckScreenButtons button {
    margin-right: 9px;
}

.deckScreenButtons button:last-child {
    float: right;
}